/* thematic colors */
:root {
    --main: lightgray;
    --secondary: #42297C;
    --tertiary: ; 
}

/* this is to import a "typewriter" font */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    background-color: #ebaefae1;
    padding: 0px;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}

header {
    background: linear-gradient(#D178E7, #fcc60463);
    padding: 20px, 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: var(--main);
    padding-top: 15px;
}

header a {
    text-decoration: none;
    color: var(--main);
    margin-left: 8px;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: var(--secondary);
    color: var(--main);
    border-radius: 10px;
    text-shadow: none;
}

.profile-pic {
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.profile-pic img {
    width: 25vw;
    height: 30vw;
    margin: 10px;
    border: ridge 15px;
    border-color: var(--secondary);
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}